.promo {
    background: url('../img/main_bg.jpg') center center/cover no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 205px;
    .hamburger {
        position: absolute;
        top: 20px;
        right: 30px;
        width: 36px;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        cursor: pointer;
        &__line {
            width: 30px;
            height: 3px;
            background-color: #151812;
            &_longer {
                width: 36px;
            }
        }
    }
    &__links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        width: 250px;
    }
    &__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #000;
        &:hover {
            text-decoration: none;
        }
    }
}